html, body, #root {
  /* scroll-behavior: smooth; */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* HERO */
.hero-intro-container {
  /* width: fit-content; */
  /* background-color: rgba(233, 239, 247, 0.82);
  backdrop-filter: blur(7px); */
}

.hero-title {
  font-size: 50px;
  font-weight: bold;
  font-family: dm-sans;
  margin-top: 400px;
  margin-left: 100px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  background-color: rgba(233, 239, 247, 0.55);
  backdrop-filter: blur(5px);
}

.hero-typewriter-container {
  display: flex;
  flex-direction: row;
}

.hero-typewriter {
  font-size: 32px;
  font-family: dm-sans;
  height: 61px;
  margin-left: 100px;
  padding-left: 10px;
  width: fit-content;
  background-color: rgba(233, 239, 247, 0.55);
  backdrop-filter: blur(5px);
}

.hero-typewriter-scroll {
  font-size: 32px;
  font-family: dm-sans;
  height: 61px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  background-color: rgba(233, 239, 247, 0.55);
  backdrop-filter: blur(5px);
}

@media (max-width: 900px) {
  .hero-title {
    font-size: 38px;
  }

  .hero-typewriter, .hero-typewriter-scroll {
    font-size: 22px;
    height: 41px;
  }
}

@media (max-width: 650px) {
  .hero-title {
    margin-left: 35px;
  }

  .hero-typewriter {
    margin-left: 35px;
    font-size: 18px;
  }

  .hero-typewriter-scroll {
    font-size: 18px;
    margin-left: 0px;
    padding-left: 6px;
  }
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  } 25% {
    transform: rotate(-2deg);
  } 75% {
    transform: rotate(2deg);
  }
}

@keyframes grow-and-shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
}

.scroll-for-more {
  font-size: 20px;
  font-family: dm-sans;
  text-decoration: underline;
  text-align: center;
  margin-top: 130px;
  transition: transform 0.3s ease;

  animation: grow-and-shrink 4s infinite;
}


/* FOR FUN */
.fun {
  width: 100%;
  display: flex;
}

.fun-container {
  background-color: rgba(233, 239, 247, 0.82);
  backdrop-filter: blur(7px);
  width: 670px;
  border-radius: 20px;
  text-align: -webkit-center;
  margin-left: 80px;
  margin-top: 100px;
  height: fit-content;
  padding-bottom: 30px;
}

.fun-description {
  font-family: dm-sans;
  margin-top: 55px;
  margin-bottom: 40px;
  font-size: 20px;
}

.forFunSlider {
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: dm-sans;
}

.slick-prev:before {
  opacity: 20%;
}

.forFunLogo {
  cursor: pointer;
}

.forFunText {
  width: 65%;
  text-align: left;
  margin-bottom: 15px;
  font-family: dm-sans;
}

.forFunImage {
  width: 45%;
  border-radius: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.forFunTextTitle {
  font-size: 20px;
  font-family: dm-sans;
  margin-bottom: 15px;
  margin-top: 40px;
  width: 85%;
}


/* ABOUT ME */
.about-me {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.about-me-container {
  /* background-color: #E9EFF7; */
  background-color: rgba(233, 239, 247, 0.82);
  backdrop-filter: blur(7px);
  width: 670px;
  border-radius: 20px;
  text-align: -webkit-center;
  margin-right: 80px;
  margin-top: 100px;
  height: fit-content;
  padding-bottom: 30px;
}

@media (max-width: 1000px) {
  .about-me {
    justify-content: center;
  }

  .about-me-container {
    margin-right: 0px;
  }
}

.section-title {
  font-size: 36px;
  font-family: dm-sans;
  text-align: center;
  text-decoration: underline;
  margin-top: 65px;
}

.about-me-image-container {
  /* width: 100%; */
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  margin-top: 40px;
}

.about-me-image {
  /* margin-top: 48px; */
  height: 225px;
  width: auto;
  position: absolute;
  /* bottom: 0px; */
  top: -50px;
}

.about-me-text {
  font-size: 16px;
  font-family: dm-sans;
  text-align: start;
  width: 85%;
  margin-top: 40px;
}


/* EXPERIENCES */
.experiences-section-title {
  font-size: 36px;
  font-family: dm-sans;
  text-align: center;
  text-decoration: underline;
  padding-top: 65px;
  padding-bottom: 10px;
}

.experiences {
  width: 100%;
}

.experiences-container {
  /* background-color: #E9EFF7; */
  background-color: rgba(233, 239, 247, 0.82);
  backdrop-filter: blur(7px);
  width: 720px;
  height: 660px;
  border-radius: 20px;
  text-align: -webkit-center;
  margin-left: 80px;
  margin-top: 100px;
  height: fit-content;
  padding-bottom: 30px;
}

@media (max-width: 1000px) {
  .experiences {
    display: flex;
    justify-content: center;
  }

  .experiences-container {
    margin-left: 0px;
  }
}


/* EXPERIENCE CARD */
.experience-card-container {
  margin-top: 35px;
  padding-bottom: 30px;
  width: 85%;
}

.experience-card-title-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.job-logo-image-container {
  margin-right: 10px;
}

.job-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 20%;
}

.job-title {
  font-size: 21px;
  font-family: dm-sans;
}

.job-company {
  color: #314D73;
  margin-left: 2px;
  font-size: 21px;
  font-family: dm-sans;
  font-weight: bold;
}

.job-description {
  font-family: dm-sans;
}

.job-location {
  font-size: 18px;
  font-family: dm-sans;
  text-align: justify;
  margin-top: 2px;
}

.job-point {
  margin-top: 7px;
  font-size: 16px;
  font-family: dm-sans;
  text-align: justify;
}

@media (max-width: 700px) {
  .job-title {
    font-size: 17px;
  }

  .job-company {
    font-size: 17px;
  }

  .job-location {
    font-size: 15px;
  }

  .job-point {
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  /* something to fix job section */
}

/* PROJECTS */
.projects {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.projects-container {
  /* background-color: #E9EFF7; */
  background-color: rgba(233, 239, 247, 0.82);
  backdrop-filter: blur(7px);
  width: 760px;
  /* height: 660px; */
  border-radius: 20px;
  text-align: -webkit-center;
  margin-right: 80px;
  margin-top: 100px;
  height: fit-content;
  padding-bottom: 30px;
}

@media (max-width: 1000px) {
  .projects {
    justify-content: center;
  }

  .projects-container {
    margin-right: 0px;
  }
}

.projects-section-title {
  font-size: 36px;
  font-family: dm-sans;
  text-align: center;
  text-decoration: underline;
  margin-top: 65px;
}


/* PROJECT CARD */
.project-card-container {
  margin-top: 55px;
  width: 85%;
}

.project-image-container {
  margin-right: 40px;
  width: 40%;
  overflow: hidden;
  transition: transform 0.3s ease;
  border-radius: 20%;
}

.project-image {
  transition: transform 0.3s ease;
}

.project-image-container:hover .project-image {
  transform: scale(1.1);
}

.project-title {
  font-size: 23px;
  font-family: dm-sans;
}

.project-date {
  font-size: 19px;
  font-family: dm-sans;
  margin-top: 8px;
  margin-bottom: 5px;
}

.project-point {
  font-size: 16px;
  font-family: dm-sans;
}

.project-card-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-card-main-right {
  text-align: left;
  width: 100%;
}

.project-tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

.project-tech {
  font-size: 12px;
  font-family: dm-sans;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
}


/* ENDING */
.ending {
  width: 100%;
}

.ending-container {
  /* background-color: #E9EFF7; */
  background-color: rgba(233, 239, 247, 0.82);
  backdrop-filter: blur(7px);
  width: 720px;
  border-radius: 20px;
  text-align: -webkit-center;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 50px;
  height: fit-content;
  padding-bottom: 30px;
}

@media (max-width: 1000px) {
  .ending {
    display: flex;
    justify-content: center;
  }

  .ending-container {
    margin-left: 0px;
  }
}

.ending-width-85 {
  width: 85%;
  text-align: start;
}

.ending-title {
  font-size: 26px;
  font-family: dm-sans;
  font-weight: bold;
  padding-top: 55px;
}

.ending-text {
  font-size: 20px;
  font-family: dm-sans;
  margin-top: 20px;
}

.ending-socials {
  margin-top: 30px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

/* .ending-socials:hover {
  transform: scale(1.1);
} */

.social {
  margin-right: 20px
}


/* FOOTER */
.footer-text {
  font-size: 15px;
  font-family: dm-sans;
}


/* FONTS */
@font-face {
  font-family: dm-sans;
  src: url(../public/DMSans-Medium.ttf);
}